body {
	background-color: #F1F2F2;
	text-align: center;
}

#header {
	margin: 3em;
}

#login-box  {
	margin: 0 auto;
	text-align: left;
	padding: 3em;
	width: 400px;
	background-color: #F4D03F;
	border-radius: 0px 
	box-shadow: 5px 0px 5px -5px #999, -5px 0px 5px -5px #999;
}

#login-box > h2 {
	display: inline;
	float: left;
	clear: none;
	
}

#logo {
	position: relative;
	top: -20px;
	display: inline;
	float: right;
	width: 150px;
	clear: none;
}

form {
	padding-top: 1em;
}