body {
	background-color: #F1F2F2;
	text-align: center;
}

#header {
	margin: 3em;
}

#login-box  {
	margin: 0 auto;
	text-align: left;
	padding: 3em;
	width: 400px;
	background-color: #F4D03F;
	border-radius: 2px; 
	box-shadow: 5px 0px 5px -5px #999, -5px 0px 5px -5px #999;
}

#login-box > h2 {
	margin-bottom: 1em;
}