{% extends "layout.html" %}
{% block body %}

<link id="mainStyles" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/feeds.css') }}"/>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='javascript/feeds.js') }}"></script>
-->

<h1>Manage Feeds</h1>
<p>Subscribe to periodic snaps from one (or more) of these awesome feeds!</p>
<div class='feed'>
	<div class='feed-head'>
		<h3>Whisper</h3>
		<button id='whisperButton' class='btn toggleFeed unsubscribed'>Subscribe</button>
	</div>
	<img src="{{ url_for('static', filename='img/whisper-logo.png') }}" alt="...">

	<p>Listen to the secrets of the world.</p>

</div>

<!-- <div class='feed'>
	<div class='feed-head'>
		<h3>Pinterest</h3>
		<button class='btn toggleFeed unsubscribed'>Subscribe</button>
	</div>
	<img src="{{ url_for('static', filename='img/pinterest-logo.png') }}" alt="...">

	<p>See content from the world's largest pinboard. </p>

</div> -->

<script type='text/javascript'>



	$(document).ready(function(){
		whisperSubscribed("{{session['username']}}", "{{session['auth_token']}}");
		toggleFeed();
	});



	var whisperSubscribed = function(username, auth_token) {
		$.ajax({

			url: $SCRIPT_ROOT+'requests',
			type: 'POST',
			data: { username: username, auth_token: auth_token, request: 'isWhisperSubscribed' },
			success: function(response) {
				if (response == 'yes') {
					var subscribe = '<button type="button" id="whisperButton" class="btn toggleFeed subscribed">Subscribed</button>';
					$("#whisperButton").replaceWith(subscribe);
					$("#whisperButton").css('color', '#FFF');
					toggleFeed();
				} else {
					var unsubscribe = '<button id="whisperButton" type="button" class="btn toggleFeed unsubscribed">Subscribe</button>';
					$("#whisperButton").replaceWith(unsubscribe);
					toggleFeed();

				}
				$("#mainStyles").html($("#mainStyles").html());

			}

		});

		$.ajax({

			url: $SCRIPT_ROOT+'requests',
			type: 'POST',
			data: { username: username, auth_token: auth_token, request: 'isWhisperChanged' },
			success: function(response) {
				if (response == 'yes') 
					disableButton();
			}

		});
	};

//toggle for feed subscribe
var toggleFeed = function() {
	$(".toggleFeed").click(function() {
		if ($(this).hasClass('unsubscribed')) {
			var subscribe = '<button type="button" id="whisperButton" class="btn toggleFeed subscribed">Subscribed</button>';
			$(this).replaceWith(subscribe);
			$(this).css('color', '#FFF');
			subscribeWhisper();
			toggleFeed();
			disableButton();
		} else {
			var unsubscribe = '<button id="whisperButton" type="button" class="btn toggleFeed unsubscribed">Subscribe</button>';
			$(this).replaceWith(unsubscribe);
			$(this).css('color', '#FFF');
			$.ajax({
				url: $SCRIPT_ROOT+'requests',
				type: 'POST',
				data: { 'username': "{{session['username']}}", 'auth_token':"{{session['auth_token']}}", 'request': 'deleteFriend', 'friend': 'whisper_feed'},
				success: function (response) {
					if (response == 'success')
						console.log('whisper unsubscribed');
				}
			});
			toggleFeed();
			disableButton();

		}
	});
	$(function(){
		$(".subscribed").hover(function(){
			$(this).html("Unsubscribe");
			$(this).css("background-color", "#D91E18");
			$(this).css("color", "#FFF");
		}, function(){
			$(this).css("background-color", "#F25887");
			$(this).html('Subscribed');
		})
	});
};

function subscribeWhisper() {
	$.ajax({
		url: '/subscribewhisper',
		type: 'POST',
		data: { 'username': "{{session['username']}}", 'auth_token':"{{session['auth_token']}}"},
		success: function (response) {
			if (response == 'success')
				console.log('whisper sent');
		}
	});
}

function disableButton() {
	
	if ($("#whisperButton").hasClass("unsubscribe")) 
		var msg = "Log in again to subscribe."
	else
		var msg = "Log in again to unsubscribe."
	$("#whisperButton").attr('disabled', 'disabled').popover({
		content: msg,
		placement: 'right'
	});
	$("#whisperButton").popover("show");
	$(document).click(function() {
		$("#whisperButton").popover("hide");
	});
	

}



</script>

{% endblock %}