<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}"/>

	<link rel="icon" 
	type="image/png" 
	href="{{ url_for('static', filename='img/ghost.png') }}">
	<title>snapbetter</title>
</head>
<body>
	
	<div id="header">
		<h1>#snapbetter</h1>
	</div>


	<div id="snapta-box" class="yellow-box">
		<h2>Secret Snapta</h2>

		<p> Add <b>secret_snapta</b> to your friends. Secret Snapta will send your snap to a random person, and you will receive a random snap in return. <br>Have fun!
		</p>
		<img id='snapta-logo' src="{{ url_for('static', filename='img/snapta-logo.png') }}">

	</div>

	<div id="whisperfeed-box" class="yellow-box">
		<h2>Whisper Feed</h2>

		<p> Add <b>whisper_feed</b> to your friends to receive the most popular whipers of the day. </p>
		<img id='snapta-logo' src="{{ url_for('static', filename='img/whisper-logo.png') }}">

	</div>

	

	<div id="login-box" class="yellow-box">
		<h2>Log In</h2>
		<ul id='login-description'>
			<img id='logo' src="{{ url_for('static', filename='img/ghost.png') }}">

			<li>1. create friend groups</li>
			<li>2. see your snaps</li>
			<li>3. manage subscriptions</li>


			
		</ul>


		<form role="form" method="post" action="{{ url_for('login') }}">
			{% if error %}
			<p class=error><strong></strong> {{ error }}
				{% endif %}
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul class='flashes'>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
				<div class="form-group">
<!-- 					<label for='username'>Snapchat Username</label>
-->					<input name='username' type="text" class="form-control" id="username" placeholder="Snapchat Username">
</div>
<div class="form-group">
<!-- 					<label for="password">Password</label>
-->					<input name = 'password' type="password" class="form-control" id="password" placeholder="Password">
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>

</div>





<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>