{% extends "layout.html" %}

{% block body %}
<h1>Secret Snapta</h1>

<p>Have you ever wished to receive random snaps from random people?<br>
	Send Secret Snapta a snap and he'll send you back a snap from someone else.<br>
	Add Secret Snapta to you friends by clicking the button below, or manually add <b>secret_snapta</b>.</p>
	<button type="button" class="btn toggleSnapta" id="addsnapta" value="add">Add Secret Snapta</button>
	
	<script type="text/javascript">

		var changed;

//function for snapta button change backend info
var toggleSnapta = function() {
	$(".toggleSnapta").click(function() {
		if ($(this).attr('id') == 'addsnapta') {
			ajaxCall("{{session['username']}}", "{{session['auth_token']}}", "makeFriend", {'friend': 'secret_snapta'})
		} else {
			ajaxCall("{{session['username']}}", "{{session['auth_token']}}", "deleteFriend", {'friend': 'secret_snapta'})

		}

	});


	$(function(){
		$("#rmvsnapta").hover(function(){
			$(this).html("Remove Secret Snapta");
			$(this).css("background-color", "#D91E18");
			
		}, function(){
        // change to any color that was previously used.
        $(this).css("background-color", "#F25887");
        $(this).html('<span class="glyphicon glyphicon-ok"></span> Secret Snapta');

    });
	});
};

$(document).ready(function () {

	ajaxCall("{{session['username']}}", "{{session['auth_token']}}", "isSnaptaFriend");
});

function ajaxCall(username, auth_token, request, params) {
	//determines friendship status with Snapta

	if (request == 'isSnaptaFriend') {
		$.ajax({

			url: $SCRIPT_ROOT+'requests',
			type: 'POST',
			
			data: { username: username, auth_token: auth_token, request: request },
			success: function(response) {


				if (response == 'friends') {

					if ($(".toggleSnapta").attr("id") == "addsnapta")
						replaceToggle(changed);
				} else {

					if ($(".toggleSnapta").attr("id") == "rmvsnapta")
						replaceToggle(changed);
				}
				toggleSnapta();
				$("#mainStyles").html($("#mainStyles").html());
				
			}
		});
	} else if (request == 'makeFriend') {
		$.ajax({
			url: $SCRIPT_ROOT+'requests',
			type: 'POST',
			data: { username: username, auth_token: auth_token, request: request, friend: params['friend'] },
			success: function(response) {
				if (response) {
					changed = true;
					ajaxCall(username, auth_token, 'isSnaptaFriend');
				}

			}
		});
	} else if (request == 'deleteFriend') {
		$.ajax({
			url: $SCRIPT_ROOT+'requests',
			type: 'POST',
			data: { username: username, auth_token: auth_token, request: request, friend: params['friend'] },
			success: function(response) {
				if (response) {
					changed = true;
					ajaxCall(username, auth_token, 'isSnaptaFriend');
				}
			}
		});
	}
};

function replaceToggle() {

	if ($(".toggleSnapta").attr("id") == "addsnapta") {
		var rmvSnapta = '<button type="button" class="btn toggleSnapta" id="rmvsnapta" val="rmv"><span class="glyphicon glyphicon-ok"></span> Secret Snapta</button>';
		$("#addsnapta").replaceWith(rmvSnapta);
	} else {
		var addSnapta = '<button type="button" class="btn toggleSnapta" id="addsnapta" val="add">Add Secret Snapta</button>';
		$("#rmvsnapta").replaceWith(addSnapta);
	}
};


</script>

{% endblock %}