{% extends "layout.html" %}

{% block body %}
<h1>Snapfeed</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/snapfeed.css') }}"/>

{% for fsnap in fsnaps %}
<div class='snap'>
	<h3 class="sentfrom">{{fsnap["sentfrom"]}}</h3>
	<p class="timesent"><em>{{fsnap["timesent"]}}</em></p>
	<img src='{{fsnap["path"]}}'>
	<button class='btn btn-warning seen' id='{{fsnap["snapid"]}}'>Mark as Seen</button>
</div>

{% endfor %}



<script type="text/javascript">

$(document).ready(function() {
	$(".seen").click(function() {
		var snap = $(this).parent();
		$.ajax({
			url: "/updateseen",
			type: "POST",
			data: {snapid: $(this).attr('id')},
			success: function(response) {
				if (response == 'success') {
					snap.remove();
				}
			}
		});
	});

});

</script>

{% endblock %}